# Python cache files
__pycache__/

# Virtual environment
kbc_venv/


# Ignore models and utils for now since they are empty
utils/

# IDE files (optional, if you use VSCode)
.vscode/

# Logs
*.log

#test files
test_db.py